.idea
.vscode
*.iml
.DS_Store
node_modules
dist
build
coverage
.env
.env.local
.env.development
.env.test
.env.production
*.env
*.env.*
*.cache
*.eslintcache
*.prettiercache
*.tsbuildinfo
*.zip
*.tar.gz
*.7z
*.log
*.pid
*.seed
*.pid.lock
*.sublime-workspace
*.sublime-project
*.code-workspace
*.vsix
*.nupkg
*.dll
*.exe
*.so
*.dylib
*.jar
*.war
*.ear
*.class
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
*.whl
*.sql
*.sqlite
*.db
*.bak
*.backup
*.tmp
*.swp
*.swo
*.swn